.navbar {
  display: none;
}

.navbar ul {
  display: flex;
  flex-direction: column;
}

.navbar li {
  padding: 1.5rem;
  cursor: pointer;
}

.navbar li:hover {
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: block;
  }

  .navbar ul {
    flex-direction: row;
  }
}
