.navigation {
  width: 100%;
  height: 10vh;
  background: #00a9a5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 35px;
  padding: 1.25rem;
  cursor: pointer;
}

.header:hover {
  font-style: italic;
  color: white;
}

.FaBars {
  margin-bottom: 1em;
}

.FaBars:hover {
  color: white;
  cursor: pointer;
}

.dropdown {
  padding: 1em;
  border: 1px solid white;
  border-radius: 10%;
  overflow: auto;
  background-color: #00a9a5;
}

.dropdown li {
  margin-bottom: 0.5em;
}

.dropdown li:hover {
  color: #092327;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .FaBars {
    display: none;
  }
}
